body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

pre.ui-coordinates {
    background:rgba(0,0,0,0.5);
    position:absolute;
    bottom:10px;
    left:10px;
    padding:5px 10px;
    color:#fff;
    font-size:11px;
    line-height:18px;
    border-radius:3px;
    max-height:240px;
    overflow:auto;
    width:100px;
}

.map-legend ul {
    list-style: none;
    padding-left: 0;
}
.map-legend .swatch {
    width:20px;
    height:20px;
    float:left;
    margin-right:10px;
}
.leaflet-popup-close-button {
    display: none;
}
.leaflet-popup-content-wrapper {
    pointer-events: none;
}